/* Main tabbed navigation */

.nav 
{
    margin-bottom: 0;
}

.uofl-navbar
{
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
    background-repeat: repeat-x;
    border: 1px solid #E5E5E5;
    box-shadow: none;
    margin-bottom: 20px;
}

.uofl-navbar .nav > li > a
{
    color: #AD0000;
    margin: 4px 0;
}

.uofl-navbar .dropdown-menu a:hover 
{
    background-color: #AD0000;
}

.uofl-navbar .dropdown > a,
.uofl-navbar .folder > a
{
    display: inline-block;
}

.uofl-navbar .folder ul a
{
    padding-left: 24px;
}

.uofl-navbar .folder-toggle .caret,
.uofl-navbar .dropdown-toggle .caret 
{
    margin-left: 0;
}

.uofl-navbar .nav .caret,
.uofl-navbar .dropdown-toggle:hover .caret,
.uofl-navbar .folder-toggle:hover .caret
{
    border-bottom-color: #AD0000;
    border-top-color: #AD0000;
}

.uofl-navbar .open .caret 
{
    border-bottom-color: #FFF;
    border-top-color: #FFF;
}

.uofl-navbar .divider-vertical
{
    width: 1px;
    background-color: #efefef;
    border-right: 1px solid #ffffff;
}

.uofl-navbar .divider-vertical 
{
    height: 38px;
}

@media (max-width: 980px) {

  .uofl-navbar {
    position: static;
    top: auto;
    z-index: auto;
    width: auto;
    height: auto;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  .uofl-navbar .nav  li {
    float: none;
    clear: both;
    margin: 2px 0;
  }
  .uofl-navbar .nav > li > a {
    border: 0;
    margin: 0;
    border-top: 1px solid #e5e5e5;
  }
  
  .uofl-navbar .divider-vertical 
  {
      display: none;
      border-left: 1px solid #EEE;
  }
  
  .uofl-navbar .nav > li.folder > a 
  {
      display: block;
  }
  
  .uofl-navbar .nav > li.folder > a.folder-toggle 
  {
      border-left: 1px solid #e5e5e5;
      border-right: 1px solid #e5e5e5;
  }
.uofl-navbar .nav .caret 
{
    opacity: 1;
}
  
  
  .uofl-navbar .nav > li.folder > a.folder-link 
  {
      margin-right: 33px;
  }
}

.uofl-navbar > .navbar-toggle li:first-child > a,
.uofl-navbar > .navbar-toggle li:first-child > a:hover
{
    border-color: transparent;
    border-radius: 4px;
    text-align: right;
}

.uofl-navbar > .navbar-toggle .icon-chevron-up
{
    display: none;
}